.login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  background-color: #f4f4f4;
  :global {
    .ant-card-head-title {
      font-weight: 400;
    }
    .user {
      color: #fff;
      background-color: #cccccc;
      font-size: 15px;
      border-radius: 50%;
      padding: 3px;
      margin-right: 5px;
    }

    .submit {
      font-size: 16px !important;
      background-color: var(--themeColor);
      color: #fff;
      border: 0;
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      .ant-btn {
        color: var(--themeColor);
        padding: 0 3px;
      }
    }

    .contact {
      display: flex;
      justify-content: center;
      .ant-btn {
        background-color: #d7d7d7;
        color: #000;
        border: 0;
        width: 180px;
        border-radius: 20px;
        font-size: 16px !important;
      }
    }

    .footer{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
